# ignore all env files
.env
.env.example
.env.testing
.env.testing.example

# ignore custom directories
src/dev_notebooks
src/data
src/experiments

# ignore caches
.pytest_cache

# others
.dockerignore
.gitignore
Dockerfile
Makefile
README.md
