# Copy this file to .env.testing and edit it to match your preferences
# Use it in conjunction with your normal env:
# source .env; source .env.testing
# Before running your tests.
# This way, you can keep only necessary overrides in .env.testing

RAY_ENABLED=False
OLLAMA_ENABLED=False
POSTGRES_DB=dats-testing
# These are separate variables from `WEAVIATE_PORT` etc.
# because we need to spin up separate containers for testing
WEAVIATE_TEST_PORT=13242
ELASTICSEARCH_TEST_PORT=13225
