# Custom folders
src/dev_notebooks

# Local configuration
.env

# Byte-compiled / optimized / DLL files
__pycache__/

# pytest
.pytest_cache/

# Scrapy:
.scrapy

# PyBuilder
target/

# Ray
src/ray_model_worker/spec.yaml

# Environments
.venv
