mammoth==1.6.0
multiprocess==0.70.15
online_triplet_loss==0.0.6
pre-commit==3.3.3
pymupdf==1.23.4
online_triplet_loss==0.0.6
Scrapy==2.10.0
scrapy-playwright==0.0.31
scrapy-selenium==0.0.7
Twisted==22.10.0
weaviate-client==3.24.1
webdriver-manager==4.0.1
