.memo-node {
    width: 182px;
    border: 1px solid darkgray;
    padding: 8px;
    border-radius: 5px;
}

.memo-header {
    display: block;
    color: white;
}

.memo-content {
    -webkit-column-width: 182px;
    column-width: 182px;
    background-color: ghostwhite;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid lightgray;
}
