.selected-handle {
  background: #3367d9 !important;
}

.whiteboardflow .react-flow__handle {
  background: #3367d9;
  border: none;
}

.whiteboardflow .react-flow__handle-connecting {
  background: red;
}

.whiteboardflow .react-flow__handle-valid {
  background: green;
}

.react-flow__pane {
  cursor: inherit;
}
