/authentik/*

/api_cache/*
/backend_repo/*
/celery_cache/*
/ollama_cache/*
/ray_cache/*
/rq_cache/*

/pg_data/*
/rabbitmq_data/*
/redis_data/*
/weaviate_data/*
/elasticsearch_data/*
/kuma_data/*
/mariadb_data/*

.env
