services:
  postgres:
    volumes:
      - "postgres_data:/var/lib/postgresql/data"
    ports:
      - "${POSTGRES_EXPOSED:-13122}:5432"

  rabbitmq:
    volumes:
      - "rabbitmq_data:/var/lib/rabbitmq/data"
    ports:
      - "${RABBIT_EXPOSED:-13123}:5672"

  redis:
    volumes:
      - "redis_data:/var/lib/redis/data"
    ports:
      - "${REDIS_EXPOSED:-13124}:6379"

  weaviate:
    volumes:
      - "weaviate_data:/var/lib/weaviate"
    ports:
      - "${WEAVIATE_EXPOSED:-13132}:8080"
      - "${WEAVIATE_GRPC_EXPOSED:-13134}:50051"

  weaviateapp:
    # https://github.com/Shah91n/WeaviateCluster
    image: weaviateclusterapp:latest
    ports:
      - "${WEAVIATEAPP_EXPOSED:-13135}:8501"
    extra_hosts:
      - "localhost:host-gateway"
    profiles:
      - weaviate

  elasticsearch:
    volumes:
      - elasticsearch_data:/usr/share/elasticsearch/data
    ports:
      - "${ELASTICSEARCH_EXPOSED:-13125}:9200"

  kibana:
    image: docker.elastic.co/kibana/kibana:8.11.1
    environment:
      ELASTICSEARCH_URL: http://elasticsearch:9200
      ELASTICSEARCH_HOSTS: '["http://elasticsearch:9200"]'
    ports:
      - "${KIBANA_EXPOSED:-13126}:5601"
    networks:
      - dats_network
    depends_on:
      elasticsearch:
        condition: service_healthy
        restart: true

  lighttpd:
    image: sebp/lighttpd
    volumes:
      - ./backend_repo:/var/www/localhost/htdocs
    tty: true
    ports:
      - "${CONTENT_SERVER_EXPOSED:-13121}:80"
    networks:
      - dats_network

  rq-worker:
    volumes:
      - ../backend/src:/dats_code/src

  dats-backend-api:
    volumes:
      - ../backend/src:/dats_code/src

volumes:
  rabbitmq_data:
    driver: local
  redis_data:
    driver: local
  postgres_data:
    driver: local
  elasticsearch_data:
    driver: local
  weaviate_data:
    driver: local
