services:
  mariadb:
    image: mariadb
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    environment:
      MARIADB_DATABASE: ${MARIA_DB?maria-db-required!}
      MARIADB_USER: ${MARIA_USER?maria-user-required!}
      MARIADB_PASSWORD: ${MARIA_PASSWORD?maria-password-required!}
      MARIADB_ROOT_PASSWORD: ${MARIA_ROOT_PASSWORD?maria-root-password-required!}
    volumes:
      - ./mariadb_data:/var/lib/mysql
    networks:
      - kuma_network

  kuma:
    image: louislam/uptime-kuma:1
    group_add:
      - "${DOCKER_GROUP_ID:-999}"
    environment:
      UPTIME_KUMA_DB_TYPE: mariadb
      UPTIME_KUMA_DB_HOSTNAME: mariadb
      UPTIME_KUMA_DB_PORT: 3306
      UPTIME_KUMA_DB_NAME: ${MARIA_DB?maria-db-required!}
      UPTIME_KUMA_DB_USERNAME: ${MARIA_USER?maria-user-required!}
      UPTIME_KUMA_DB_PASSWORD: ${MARIA_PASSWORD?maria-password-required!}
    volumes:
      - ./kuma_data:/app/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "${KUMA_EXPOSED?kuma-exposed-required!}:3001"
    depends_on:
      mariadb:
        condition: service_healthy
        restart: true
    networks:
      - kuma_network

networks:
  kuma_network:
