torch==2.0.0
torchvision==0.15.1
torchaudio==2.0.1
transformers==4.30.2
sentence-transformers==2.2.2
spacy==3.6.1
cupy-cuda11x==12.2.0
spacy-transformers==1.2.5
timm==0.9.7
accelerate==0.22.0
peft==0.5.0
bitsandbytes==0.41.1
ctranslate2==3.19.0
faster-whisper==0.8.0
python-multipart==0.0.5
ffmpeg-python==0.2.0
omegaconf==2.3.0
