.mark {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.mark.start {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.mark.end {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.tok {
  position: relative;
}

.text {
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.hovered .text {
  font-weight: bold;
}

rect.hovered {
  fill: #ffff0088;
}

.spangroup {
  user-select: none;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.spangroup > span {
  margin-left: 2px;
}

.spangroup.above {
  position: absolute;
  bottom: 100%;
  left: 0;
  line-height: 12px;
  white-space: nowrap;
  user-select: auto;
}

.spangroup.above > span {
  margin-left: 0;
}

.hoversentence:hover {
  background-color: rgba(0, 255, 255, 0.5);
  cursor: pointer;
}

.filterhighlight {
  background-color: yellow;
}

.jumphighlight {
  background-color: lightgreen;
}
